p.intro{
  width: 50%;
  font-style: italic;
}

.stylish{
  color: red;
}

.flashy{
  color: red;
  font-style: italic;
}

.best{
  /*font-variant: small-caps;*/
  font-family: fantasy;
  color: blue;
  font-size: 25px;
}

.intro{
  font-family: cursive;
  color: green;
  font-size: 15px;
  font-stretch: ultra-condensed;
}
/* */
.cool{
  font-weight: bolder;
  font-variant: small-caps;
}

.blogpost{
  font-style: italic;
  font-family: sans-serif;
}

.about{
  font-variant: small-caps;
  color: blue;
}

.genre{
  font-weight: bolder;
  color: red;
}

img {
  float: left;
}
.sidebar {
  width: 30%;
  float: right;
}
.column {
  width: 300px;
  float: left;
}
