body{
  color: red;
}
.column{
  width: 300px;
  float: left;
  padding: 20px;
}

@media screen  and (max-width: 1050px){

  body{
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 500px){
  body{
    background-color: teal;
  }
}
